.hidden-xs {
  display: none;
  
  @include media-min("phone-down") {
    display: block;
  }
}

.hide {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.nomtop {
  margin-top: 0 !important;
}

.nombottom {
  margin-bottom: 0 !important;
}

.mtop {
  margin-top: var(--gutter-width-sm);
  
  @include media-min("tablet-up") {
    margin-top: var(--padding-lg);
  }
}

.mbottom {
  margin-bottom: var(--gutter-width-sm);

  @include media-min("tablet-up") {
    margin-bottom: var(--padding-lg);
  }
}

.small {
  font-size: var(--font-size-xs);
}

.muted {
  color: var(--color-midgray);
}

[data-dropdown] {
  position: relative;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}


.nowrap {
  white-space: nowrap;
}