
// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant(
   $color,
   $color-darken,
   $background,
   $background-darken,
   $bordercolor:'none') {
  color: $color;
  background-color: $background;
  
  @if $bordercolor != 'none' {
    border: 1px solid $bordercolor;
  }
  
  
  &:active,
  &:hover,
  &:focus, {
    color: $color-darken;
    background-color: $background-darken;
  }

  
  &[disabled] {
      background-color: $background;
  }

}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}


// WebKit-style focus

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)

  //outline: 5px auto -webkit-focus-ring-color;
  //outline-offset: -2px;
}
