
// Content with editorial
.edito {
  max-width: 730px;
  margin: 0 auto;
  padding: var(--padding-xs) 0;


  @include media-min("desktop-up") {
    padding: var(--padding-wide) 0;
  }

  .page-title {
    &,
    h1 {
      font-size: var(--font-size-h1-sm);
      
      @include media-min("desktop-up") {
        font-size: 60px;
      }
    }
    
    color: var(--color-darkgray);
    text-align: center;
    font-family: var(--font-family-header);
    padding-bottom: var(--padding-xs);
  }
  
  .page-intro {
    text-align: center;
    padding-bottom: var(--padding-xl);

    @include media-min("desktop-up") {
      font-size: var(--font-size-lg);
    }
  }
  
  h2,
  h3,
  h4 {
    padding: var(--padding-lg) 0 var(--padding-sm) 0;
  }
  
  h2 + h3 {
    padding-top: 0;
  }
  
  h2 {
    @include media-min("desktop-up") {
      font-size: 32px;
    }
  }
  
  h3 {
    @include media-min("desktop-up") {
      font-size: 26px;
    }
  }
  
  H4 {
    @include media-min("desktop-up") {
      font-size: 22px;
    }
  }


  p {
    margin-bottom: var(--padding-md);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--padding-lg);

    li {
      position: relative;
      padding-bottom: var(--padding-xs);

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &:before {
        vertical-align: middle;
        display: inline-block;
        background: var(--color-gray);
        margin: -2px 8px 0 0;
        padding: 0;
        content: "";
        border-radius: 100px;
        height: 7px;
        width: 7px;
      }
    }
  }

  u {
    text-decoration: none;
  }
}