// Now that the most basic things are set up, we can start to style the building blocks of our front-end: Raw HTML Elements. 
// Mostly without classes, we are now redefining the basic browser styles of headlines, buttons, links, lists, etc. 
// and can make sure that all components in our design are using the same consistent base.

@import "forms/buttons";
@import "forms/controls";
@import "forms/checkbox";

.form-actions {
  padding: var(--gutter-width-sm);
  margin-top: var(--gutter-width-sm);
  background: var(--color-creamy);
  text-align: center;
  
  @include media-min("tablet-up") {
    padding: var(--padding-lg);
    margin-top: var(--padding-lg);
  }
}

.form-label {
  padding-bottom: var(--padding-xs);
  font-family: var(--font-family-header);
  
  &--muted {
    font-family: var(--font-family-base);
    color: var(--color-midgray);
  }
}