h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-header);
  line-height: 1.25;
}

h1 {
  font-size: var(--font-size-h1-sm);
  
  @include media-min("tablet-up") {
    font-size: var(--font-size-h1);
  }
}

h2 {
  font-size: var(--font-size-h2-sm);
  
  @include media-min("tablet-up") {
    font-size: var(--font-size-h2);
  }
}

h3 {
  font-size: var(--font-size-h3-sm);
  color: var(--color-darkgray);
  padding: var(--padding-lg) 0 var(--padding-xxs) 0;
  
  @include media-min("tablet-up") {
    font-size: var(--font-size-h3);
  }
}

h4 {
  font-size: var(--font-size-h4-sm);
  color: var(--text-color);

  @include media-min("tablet-up") {
    font-size: var(--font-size-h4);
  }
}

.section-title {
  padding-bottom: var(--padding-xs);
  padding-top: var(--padding-md);
  font-family: var(--font-family-header);
  font-weight: 600;
  font-size: var(--font-size-lg);
  
  &--fat {
    font-size: var(--font-size-h1-sm);
    text-align: center;
    line-height: 120%;
    padding-bottom: var(--padding-xs);

    @include media-min("tablet-up") {
      font-size: 48px;
      padding-bottom: var(--padding-lg);
    }
  }
  
  span {
    display: block;
    font-size: var(--font-size-lg);
    font-weight: 400;
  }
}