[class^="ico-"] {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}

.ico-raise {
  width: 8px;
  height: 13px;
  background-image: url($imgPath + 'icons/arrowUp.svg');
}

.ico-decrease {
  width: 8px;
  height: 13px;
  background-image: url($imgPath + 'icons/arrowDown.svg');
}

.ico-stable {
  background-image: url($imgPath + 'icons/arrowRight.svg');
  width: 13px;
  height: 14px;
}

.ico-bookmark {
  width: 24px;
  height: 24px;
  background-image: url($imgPath + 'icons/bookmark.svg');
}

.ico-growup {
  width: 24px;
  height: 24px;
  background-image: url($imgPath + 'icons/growup.svg');
}

.ico-chart {
  width: 13px;
  height: 12px;
  background-image: url($imgPath + 'icons/bar-chart.svg');
}

.ico-chart-g {
  width: 13px;
  height: 12px;
  background-image: url($imgPath + 'icons/bar-chart-grey.svg');
}

.ico-pin {
  width: 9px;
  height: 14px;
  background-image: url($imgPath + 'icons/marker-pin.svg');
}

.ico-tag {
  width: 13px;
  height: 13px;
  background-image: url($imgPath + 'icons/tag.svg');
}

.ico-columns {
  width: 25px;
  height: 25px;
  background-image: url($imgPath + 'icons/columns.svg');
}

.ico-suitcase {
  width: 14px;
  height: 14px;
  background-image: url($imgPath + 'icons/suitcase.svg');
}

.ico-avatar {
  width: 25px;
  height: 27px;
  background-image: url($imgPath + 'icons/avatar.svg');
}

.ico-avatar-white {
  width: 25px;
  height: 27px;
  background-image: url($imgPath + 'icons/avatar-white.svg');
}

.ico-linkedin {
  width: 16px;
  height: 16px;
  background-image: url($imgPath + 'icons/linkedin.svg');
}

.ico-facebook {
  width: 16px;
  height: 16px;
  background-image: url($imgPath + 'icons/facebook.svg');
}

.ico-twitter {
  width: 16px;
  height: 16px;
  background-image: url($imgPath + 'icons/twitter.svg');
}

.ico-checked {
  width: 16px;
  height: 16px;
  background-image: url($imgPath + 'icons/checked.svg');
}

.caret-d {
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 257.6'%3E%3Cpath fill='%23C0C0C0' d='M203.6 248.3L9.3 54C-3.1 41.7-3.1 21.6 9.3 9.3 21.6-3.1 41.7-3.1 54 9.3l171.9 171.9L397.8 9.3c12.4-12.4 32.4-12.4 44.7 0 12.4 12.4 12.4 32.4 0 44.7L248.3 248.3c-6.2 6.2-14.3 9.3-22.4 9.3C217.8 257.6 209.7 254.5 203.6 248.3z'/%3E%3C/svg%3E%0A");
    background-size: 13px 8px;
    background-repeat: no-repeat;
    content: '';
    width: 13px;
    min-width: 13px;
    height: 8px;
    min-height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: var(--padding-icon-horizontal);
  }
  
  &--w {
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 257.6'%3E%3Cpath  fill='%23ffffff' d='M203.6 248.3L9.3 54C-3.1 41.7-3.1 21.6 9.3 9.3 21.6-3.1 41.7-3.1 54 9.3l171.9 171.9L397.8 9.3c12.4-12.4 32.4-12.4 44.7 0 12.4 12.4 12.4 32.4 0 44.7L248.3 248.3c-6.2 6.2-14.3 9.3-22.4 9.3C217.8 257.6 209.7 254.5 203.6 248.3z'/%3E%3C/svg%3E%0A");
    }
  }
}

// Filters modal
.ico-trash {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url($imgPath + 'icons/filters/trash.svg');
}

.ico-edit {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url($imgPath + 'icons/pencil.svg');
}

.ico-eye {
  width: 20px;
  height: 13px;
  background-size: contain;
  background-image: url($imgPath + 'icons/filters/eye.svg');
}

.ico-dashboard {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url($imgPath + 'icons/filters/dashboard.svg');
}


.caret-r {
  @extend .caret-d;

  &:after {
    transform: rotate(-90deg);
  }
}

.caret-l {
  @extend .caret-d;

  &:after {
    transform: rotate(90deg);
  }
}

.caret-u {
  @extend .caret-d;

  &:after {
    transform: rotate(180deg);
  }
}
