a {
  color: var(--color-link-active);
  text-decoration: none;
  transition: color linear .15s;
  
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: none;
  }

  &:focus {
    @include tab-focus;
  }
}

.link-not-connected {
  color: var(--color-mustard);
  font-weight: 600;
  text-decoration: underline;
  
  &:hover,
  &:focus {
    color: var(--color-mustard-darker);
    text-decoration: none;
  }
}