.list {
  
}

.list--socialnetworks {
  list-style: none;
  padding: var(--padding-xxs) 0 0 0;
  margin: 0;
  
  li {
    display: inline-block;
    
    &:not(:first-of-type) {
      margin-left: var(--padding-xs);
    }
  }
  
  a {
    background-color: var(--color-gray);
    width: var(--icon-md-width);
    height: var(--icon-md-height);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform linear .1s;
    
    &:hover {
      transform: scale(1.3);
    }
    
    [class^="ico-"] {
      transform: scale(1.5);
    }
  }
}