.nav-vertical {
  &__title {
    font-size: var(--font-size-h3);
    font-family: var(--font-family-header);
    padding: var(--padding-sm);

    @include media-min("desktop-up") {
      padding: var(--padding-lg);
    }
  }

  &__list {
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: var(--padding-xs);

      @include media-min("desktop-up") {
        margin-bottom: calc(var(--padding-lg) - var(--padding-xxs));
      }

      // mobile opened
      &.opened {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;

        li {
          display: block;

          &.active {
            a:after {
              transform: rotate(180deg);
            }
          }
        }
      }

      li {
        display: none;
        margin: 0 var(--padding-xs) 0 var(--padding-xs);
        position: relative;
        background: hsl(210, 31%, 91%);

        @include media-min("desktop-up") {
          display: block;
          background: unset;
          margin: 0 0 var(--padding-xxs) var(--padding-lg);
        }

        &.active {
          display: block;
          order: -1;

          @include media-min("desktop-up") {
            display: unset;
            order: unset;

            a:after {
              display: none;
            }
          }

          a:after {
            transition: transform linear .2s;
            display: inline-block;
            position: absolute;
            right: var(--gutter-width-sm);
            top: 50%;
            margin-top: -3px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451.8 257.6'%3E%3Cpath d='M203.6 248.3L9.3 54C-3.1 41.7-3.1 21.6 9.3 9.3 21.6-3.1 41.7-3.1 54 9.3l171.9 171.9L397.8 9.3c12.4-12.4 32.4-12.4 44.7 0 12.4 12.4 12.4 32.4 0 44.7L248.3 248.3c-6.2 6.2-14.3 9.3-22.4 9.3C217.8 257.6 209.7 254.5 203.6 248.3z'/%3E%3C/svg%3E%0A");
            background-size: 13px 8px;
            background-repeat: no-repeat;
            content: '';
            width: 13px;
            min-width: 13px;
            height: 8px;
            min-height: 8px;
            vertical-align: middle;
            margin-left: var(--padding-icon-horizontal);

            @include media-min("desktop-up") {
              display: none;
            }
          }
        }

        a {
          padding: var(--padding-xs) var(--padding-sm) var(--padding-xs) var(--padding-xs);
          color: var(--color-midgray);
          display: block;
          border-bottom: 1px solid var(--border-color);

          @include media-min("desktop-up") {
            border-bottom: unset;
          }
        }

        &.active a {
          background: #fff;
          border-left: 4px solid var(--color-primary);
        }
      }
    }
  }
}