/**
  Pagination
*/
.pagination {
  margin: var(--padding-sm) 0 0 0;
  display: flex;
  
  &--center {
    text-align: center;
    justify-content: center;
  }
  
  li {
    display: inline-block;
    
    a {
      display: block;
      padding: 8px 14px;
      color: var(--color-midgray);
    }

    &:hover {
      &,
      a {
        background: #fff;
        color: var(--color-primary);
      }
    }
  }
  
  
  li.active {
    background: var(--color-lightgray);
    a {
      background: var(--color-lightgray);
      color: var(--color-primary);
    }
  }
  
  li.prev,
  li.next {
    background: #fff;

    a {
      background: #fff;
      color: var(--color-primary);
    }
    
    svg {
      margin-top: 3px;
    }
  }
}


// override datable pagination
.dataTables_paginate {
  width: 100%;
  position: relative;
  
  
  .pagination {
    height: 40px;
  }
}