.table-responsive {
  max-width: 100%;
  width: 100%;

  overflow: hidden;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  //border: 1px solid var(--color-border-table);
  border-collapse: separate;
  text-align: left;
  background-color: var(--color-creamy);
  font-family: var(--font-family-base);
  font-size: var(--font-size-xs);
  color: var(--color-midgray);
  border-spacing: 0;
  
  // Reset héritage article
  p, ul {
    margin: 0;
    padding: 0;
  }
  
  // Striped
  tbody > tr:nth-of-type(odd) {
    background: #fff;
  }

  td,
  th {
    padding: var(--padding-xs);
    //border: 1px solid var(--color-border-table);
    vertical-align: middle;
  }

  th {
    background-color: var(--color-bg-table-th-horizontal);
    color: var(--color-text-table-th);
    border-bottom: 1px solid var(--border-color);
    
    &.text-center {
      text-align: center !important;
    }
    
    &.nowrap {
      white-space: nowrap;
    }
  }
  
  @include media-min("desktop-down") {
    td,
    th {
      padding: var(--padding-xs) var(--padding-sm);
    }
  }
  
  &--condensed {
   td,
    th {
     padding: var(--padding-table-condensed);
   }
  }
}