p {
  margin-bottom: 1rem;
}

.text-muted {
  font-size: var(--font-size-sm);
  color: var(--color-lightgray);
}

strong {
  font-family: var(--font-family-header);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}