.banner-partner {
  text-align: center;
  margin-bottom: var(--padding-sm);
  
  @include media-min("desktop-up") {
    margin-bottom: var(--padding-lg);
  }
  
  a {
    display: inline-block;
    margin: 0 auto;
  }
}