.alert {
  background: #fff;
  border: 1px solid var(--border-color);
  padding: var(--padding-sm);
  text-align: center;
  margin-bottom: var(--gutter-width-sm);
  
  strong {
    font-weight: 800;
  }
  
  @include media-min("tablet-up") {
    margin-bottom: var(--padding-lg);
  }


  a {
    text-decoration: underline;
  }
  
  &__title {
    font-family: var(--font-family-header);
    padding-bottom: var(--padding-xxs);
  }
  

  &--error {
    background: var(--color-error-bg);
    border-color: var(--color-error-border);
    
    &, a {
      color: var(--color-error-text);
    }
  }
  
  &--success {
    background: var(--color-success-bg);
    border-color: var(--color-success-border);
    
    &, a {
      color: var(--color-success-text);
    }
  }
  
  &--infos {
    background: var(--color-infos-bg);
    border-color: var(--color-infos-border);
    &, a {
      color: var(--text-color);
    }

    .alert__title {
      color: var(--color-infos-text);
    }
  }
}
