/*
  Blocs used on all pages
*/

/*
  Default bloc
*/

.bloc {
  background: #fff;
  padding: var(--padding-inner-bloc-xs);
  display: flex;
  flex-direction: column;
  
  // justify center
  &.jc {
    justify-content: center;
  }
  
  @include media-min("desktop-up") {
    padding: var(--padding-inner-bloc);
  }

  &__title {
    display: flex;
    width: 100%;
    margin-bottom: var(--padding-md);
    @include formatDatas(var(--color-darkgray),null,var(--font-size-data-sm));

    @include media-max("desktop-up") {
      flex-direction: column;
      flex-wrap: wrap;
      white-space: normal;
    }
    
    &.text-center {
      justify-content: center;
    }
    
    a {
      margin-left: auto;
      color: var(--color-link-active);
      font-size: var(--font-size-xs);
      font-family: var(--font-family-base);
    }
  }
}


/**
  Actions bloc with icons
*/
.bloc-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
  
  @include media-min("desktop-up") {
    grid-column: 1/3;
  }
  
  a {
    color: var(--color-midgray);
    display: block;
    
    &:hover {
      .icon-wrapper {
        transform: scale(1.2);
      }
    }
  }
  
  &__ico {
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-midgray);
  }
  
  .icon-wrapper {
    margin: 0 auto;
    margin-bottom: var(--padding-xxs);
    display: flex;
    background: var(--color-primary);
    height: var(--icon-md-height);
    line-height: var(--icon-md-width);
    width: var(--icon-md-width);
    text-align: center;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: transform linear .1s;
  }
  
  &--darkgrey {
    .icon-wrapper {
      background: var(--color-midgray);
    }
  }
}



/**
  Table bloc
*/

.tablebloc {
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 7;
  overflow: hidden;
  overflow-x: auto;
  font-family: var(--font-family-header);

  &--light {
    font-weight: 500;
  }
  
  .pagination {
    font-weight: 500 !important;
    font-family: var(--font-family-base);
  }
  
  @include media-min("desktop-up") {
    overflow: initial;
    min-height: initial;
  }
  
  .table {
    tr:last-of-type td {
      padding-bottom: 0 !important;
    }
  }
  
  // Nom des startups
  .companyNameCell {
    color: var(--color-darkgray);
    text-transform: uppercase;
    font-family: var(--font-family-header);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    span {
      display: block;
      overflow: hidden;
    }
  }
  
  // Cas du logo + nom à afficher
  .logoNameCell {
    grid-template-columns: 60px auto;
    align-items: center;
    color: var(--color-darkgray);
    font-size: var(--font-size-md);
    display: grid;
    grid-gap: var(--padding-sm);
    font-family: var(--font-family-header);
    text-transform: lowercase;
    min-height: 60px; // = largeur max image si image trop petite, écart conservé
     
    
    .name {
      font-size: var(--font-size-xs);
      color: var(--color-darkgray);
      text-transform: uppercase;
      font-family: var(--font-family-header);
      
      &:first-letter {
        text-transform: uppercase;
      }
      a {
        color: var(--color-darkgray);
      }
    }
    
    img {
      width: 60px;
    }
  }
  
  .moneyCell,
  .dateCell {
    white-space: nowrap;
  }
  
  .iconCell {
    width: 45px;
    max-width: 45px;
  }
}

.bloc-team {
  &__people {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: var(--padding-xs);
    color: var(--color-midgray);
    font-size: var(--font-size-xs);
    
    .avatar {
      background: var(--color-gray);
      fill: #fff;
    }
    
    &__name {
      font-family: var(--font-family-header);
      
      .fonction {
        font-weight: 500;
        font-family: var(--font-family-base);
        display: block;
        text-transform: uppercase;
      }
    }
    
    &__link {
      margin-left: auto;
      
      a {
        background: var(--color-midgray);
        width: var(--icon-sm-width);
        height: var(--icon-sm-height);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
      }
    }
  }
}