.breadcrumb {
  display: none;
  
  @include media-min("tablet-up") {
    display: block;
    padding-bottom: var(--padding-sm);

    ul {
      margin: 0 !important; // override
      
      li {
        display: inline-block;
        font-size: var(--font-size-md);
        color: var(--color-lightgray);

        &:before {
          display: none !important; // override
        }
        
        &:not(:last-of-type):after {
          display: inline-block;
          content: '/';
          color: var(--color-lightgray);
          margin: 0 var(--padding-xxs);
        }

        a {
          color: var(--color-lightgray);

          &:hover {
            color: var(--color-link-hover);
          }
        }
      }
    }
  }
}