/**
  Cards
  Used for sliders
 */
.cards {
  margin-top: var(--padding-lg);
  
  @include media-min("tablet-up") {
    margin-top: var(--padding-xxl);
  }
  
  &__bloc {

    // Ellipsis components
    &__title,
    &__small,
    &__subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__title,
    &__amount,
    &__subtitle {
      font-size: var(--font-size-h4);
      font-family: var(--font-family-header);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
    &__title {
      @include media-min("tablet-up") {
        font-size: var(--font-size-h2);
      }
      
      &, a {
        color: var(--color-link-active);
      }
    }
    
    &__subtitle {
      @include formatDatas(var(--color-midgray),null,var(--font-size-data-xs));
    }
    
    &__amount {
      @extend .data-xl;
    }
    
    &__small {
      font-size: var(--font-size-xs);
      color: var(--color-midgray);
    }
    
    &__cta {
      padding-top: var(--padding-sm);
      font-size: var(--font-size-xs);
      font-weight: 500;
    }
    
    &__infos {
      font-size: var(--font-size-sm);
      font-family: var(--font-family-header);
      padding-top: var(--padding-sm);
      
      // Subitle
      span {
        display: block;
        font-size: var(--font-size-h2);
        font-family: var(--font-family-header);
      }
    }
    
    &__note {
      @extend .data-lg;
    }
    
    /*&__small + &__small {
      padding-top: var(--padding-sm);
    }*/
    
    &__thumb {
      width: 100%;
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      overflow: hidden;
      height: 80px;
      max-height: 80px;
      margin-bottom: var(--padding-sm);
      
      img {
        margin: 0 auto;
        height: 80px;
        max-height: 80px;
      }
    }
    
    &__icon {
      border: none;
      padding-bottom: var(--padding-sm);
      
      &__wrapper {
        margin: 0 auto;
        background: var(--color-gray);
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
          width: 20px;
          max-height: 23px;
          fill: #fff;
        }
      }
    }
    
    &__raise {
      font-size: var(--font-size-sm);
      font-family: var(--font-family-header);

      span {
        font-family: var(--font-family-header);
      }
      
      &__iconUp,
      &__iconDown {
        @extend .data-lg;
        
        &:after {
          content: '';
          display: inline-block;
          margin-left: var(--padding-xxs);
          width: 8px;
          height: 15px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
      
      &__iconUp:after {
        background-image: url($imgPath + 'icons/arrowUp.svg');
      }
      
      &__iconDown:after {
        background-image: url($imgPath + 'icons/arrowDown.svg');

      }
    }
  }
}
