/**
  DAtas formatter
  Myfrenchstartup
*/
@mixin formatDatas($color, $fontweight, $fontsize) {
  
  @if $color == null {
    color: var(--color-darkgray);
  } @else {
    color: $color;
  }

  @if $fontweight == null {
    font-family: var(--font-family-header);
  } @else {
    font-family: $fontweight;
  }

  @if $fontsize == null {
    font-size: var(--font-size-data-base);
  } @else {
    font-size: $fontsize !important;
  }
}

.data-xs {
  @include formatDatas(var(--color-midgray),var(--font-family-base),var(--font-size-data-xs));
}

.data-sm {
  @include formatDatas(null,null,var(--font-size-data-sm));
}

.data-base {
  @include formatDatas(null,null,var(--font-size-data-base));
}

.data-lg {
  @include formatDatas(null,null,var(--font-size-data-lg));
}

.data-xl {
  @include formatDatas(null,null,var(--font-size-data-xl));
}


.label-xs {
  @include formatDatas(var(--color-midgray),null,var(--font-size-data-xs));
}

.label-sm {
  @include formatDatas(var(--color-midgray),null,var(--font-size-data-sm));
}

.label-base {
  @include formatDatas(null,null,var(--font-size-data-base));
}

.label-lg {
  @include formatDatas(null,null,var(--font-size-data-lg));
}

.label-xl {
  @include formatDatas(null,null,var(--font-size-data-xl));
}


/**
  @datas
  Bloc containing datas
*/

.datasbloc {
  &:not(:last-of-type) {
    margin-bottom: var(--gutter-width-sm);
  }
  
  + .donut {
    margin-bottom: 0 !important;
  }
  
  // Exception for the tag module
  .tags {
    margin-bottom: 0;
    margin-top: var(--padding-xxs);
  }

  &__key {
    position: relative;
    @extend .label-xs;
    
    &__ico {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      background: var(--color-pinky);
      width: var(--icon-sm-width);
      height: var(--icon-sm-height);
      border-radius: 100px;
      transition: transform linear .1s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__val {
    @extend .data-xl;
    
    &.small {
      @extend .data-xs;
    }
    
    &.medium {
     @extend .data-sm; 
    }
  }
  
  &__subtitle {
    font-size: var(--font-size-xs);
    color: var(--color-midgray);
  }
}


/**
  @datas
  Bloc containing datas in grid
*/

.datagrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 100%;
  
  &__bloc {
    padding: var(--padding-sm);
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:nth-of-type(1),
    &:nth-of-type(2) {
      border-top: none;
    }
    
    &:not(:nth-of-type(2n)) {
      border-right: 1px solid var(--border-color);
    }
  }
  
  &__key {
    @include formatDatas(var(--color-darkgray),null,var(--font-size-data-xs));
    
    &__label {
      color: var(--color-midgray);
    }
  }

  &__val {
    @extend .data-xl;
  }
  
  &__subtitle {
    font-size: var(--font-size-xs);
    color: var(--color-midgray);
  }
}