.donut {

  // Graphique 
  &__chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    .slice {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .chart-center {
      position: absolute;
      border-radius: 50%;

      .total {
        display: block;
        text-align: center;
        top: 50%;
        position: absolute;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
      }
    }
  }
  
  // Légendes
  &__legend {
    display: flex;
    margin-top: var(--padding-xs);
    @include formatDatas(var(--color-midgray),null,var(--font-size-data-xs));

    &__min {
      
    }
    
    &__max {
      margin-left: auto;
    }
    
    &__txt {
      margin: 0 auto;
      text-align: center;
    }
  }
}


// Make a donut chart
@mixin donut-chart($name, $perc, $size, $width, $base, $center, $color, $textColor: var(--color-gray), $textSize: 40px) {
  $color2: $color;
  $base2: $base;
  $deg: ($perc/100*360)+deg;
  $deg1: 90deg;
  $deg2: $deg;

  // If percentage is less than 50%
  @if $perc < 50 {
    $base: $color;
    $color: $base2;
    $color2: $base2;
    $deg1: ($perc/100*360+90)+deg;
    $deg2: 0deg;
  }

  .donut__chart {
    &#{$name} {
      width: $size;
      height: $size;
      background: $base;

      .slice {
        &.one {
          clip: rect(0 $size $size/2 0);
          -webkit-transform: rotate($deg1);
          transform: rotate($deg1);
          background: $color;
        }

        &.two {
          clip: rect(0 $size/2 $size 0);
          -webkit-transform: rotate($deg2);
          transform: rotate($deg2);
          background: $color2;
        }
      }

      &.reverse {
        background: $color2;
        
        .slice {
          &.one {
            background: $base;
          }

          &.two {
            background: $base;
          }
        }
      }

      .chart-center {
        top: $width;
        left: $width;
        width: $size - ($width * 2);
        height: $size - ($width * 2);
        background: $center;

        .total {
          font-size: $textSize;
          font-family: var(--font-family-header);
          color: $textColor;
        }
      }
    }
  }
}

@include donut-chart('.donutDatas', 20, 120px, 6px, var(--color-primary), #fff, var(--color-lightgray), var(--color-midgray), var(--font-size-data-xl));



