.dropdown {
  background: #fff;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  min-width: 320px;
  width: 320px;
  font-size: var(--font-size-md);

  &__content {
    padding: var(--padding-xs) var(--padding-md);
    max-height: 400px;
    overflow-y: auto;
    cursor: auto;

    // list 
    ul {
      list-style: none;
      display: block !important;

      li {
        display: block !important;
        margin-left: 0 !important;

        &:not(:last-of-type) {
          margin-bottom: var(--padding-xxs);
        }

        a {
          display: block;
        }
      }
    }
  }
  
  &__title {
    background: var(--color-lightgray);
    color: var(--color-midgray);
    padding: var(--padding-xs) var(--padding-md);
    font-family: var(--font-family-header);
  }
}