.faq {
  padding-bottom: var(--padding-xl);
  
  &__title {
    text-align: center;
    font-size: var(--font-size-h3-sm);
   
    @include media-min("desktop-up") {
      font-size: var(--font-size-h3);
      padding-bottom: var(--padding-xs);
    }
  }
  
  &__answer {
    color: var(--color-midgray);
  }
}