

.historyList {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  color: var(--color-midgray);
  margin-top: var(--padding-lg);
  
  &__item {
    display: grid;
    grid-gap: var(--padding-sm);
    grid-template-columns: 1fr 1fr;
    
    @include media-min("desktop-up") {
      grid-template-columns: 200px auto;
    }

    &:not(:last-of-type) {
      margin-bottom: var(--padding-xs);
    }
    
    &:first-of-type .historyList__item__date:before {
      --color-green: #8CD85D;
      background-color: var(--color-green) !important;
    }
    
    &__date {
      &:before {
        content: '';
        display: inline-block;
        background-color: var(--color-primary);
        width: 7px;
        height: 7px;
        border-radius: 100px;
        margin-right: var(--padding-xs);
      }
    }
    
    &__infos {
      
    }
  }
}
