.labels {
  grid-gap: var(--padding-xxs);
  display: flex;
  flex-wrap: nowrap;

  @include media-min("desktop-up") {
    flex-wrap: wrap;
  }
}

.label {
  border: 1px solid var(--border-color);
  padding: var(--padding-xxs) var(--padding-xs);
  color: var(--color-midgray);
  display: inline-block;
  border-radius: 100px;
  white-space: nowrap;
}
