.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-modal-inner);
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  padding: var(--padding-sm);
  
  @include media-min("desktop-up") {
    padding: var(--padding-lg);
  }
  
  &.shown {
    display: block;
  }
  
  &__wrapper {
    z-index: 999;
    max-width: 1100px;
    width: 100%;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    
    @include media-min("desktop-up") {
      position: fixed;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    outline: none;
    overflow: hidden;
    height: 100%;

    @include media-min("desktop-up") {
      height: fit-content;
    }
  }
  
  
  &__header ,
  &__footer {
    padding: var(--padding-lg);
    background: var(--color-lightgray);
  }
  
  &__header {
    font-size: var(--font-size-h3);
    font-family: var(--font-family-header);
    display: flex;
    align-items: center;
    
    .title {
      padding-right: var(--padding-xs)
    }
    
    .subtitle {
      font-size: var(--font-size-sm);
      font-family: var(--font-family-base);
      color: var(--color-midgray);
      margin-bottom: 0;
    }
  }

  &__body {
    overflow: auto;
    padding: var(--padding-lg);
  }
  
  
  &__closeBtn {
    margin-left: auto;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 612 612' fill='%23000000' viewBox='0 0 612 612' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m612 36-35.5-35.4-270.5 270-270.5-270-35.5 35.4 270.5 270-270.5 270 35.5 35.4 270.5-270 270.5 270 35.5-35.4-270.5-270z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center center;
    padding: 20px;
    border-radius: 200px;
    position: fixed;
    top: calc(var(--padding-sm) / 2);
    right: calc(var(--padding-sm) / 2);
    background-color: #Fff;
    
    @include media-min("desktop-up") {
      position: unset;
      background-color: var(--color-lightgray);
      top: calc(var(--padding-lg) / 2);
      right: calc(var(--padding-lg) / 2);
    }
  }
}


#modal-searchfilters {
  .modal__content {
    @include media-min("desktop-up") {
      min-height: 630px;
      max-height: 630px;
    }
  }
}