/*
  Modules
  A module contain a title + a list of datas / infos
*/

.module {
  &:not(:last-of-type) {
    margin-bottom: var(--padding-xxl);
  }
  
  &__title {
    text-align: center;
    font-size: var(--font-size-h2);
    font-family: var(--font-family-header);
    margin-bottom: var(--padding-sm);
  }
}

/**
  Specifiques
**/
.module--fundraising {
  &:not(:last-of-type) {
    margin-bottom: calc(var(--padding-xxl) + 40px)!important
  }
  
  .carousel-cell {
    height: 380px;
  }
}

.module--finances {
  .datasbloc {
    margin-bottom: 0;
  }
}

.module--legals {
  margin-bottom: 0 !important;
}