.searchbar {

    position: relative;
    margin-left: var(--padding-md);
    flex: 1;
    max-width: 900px;

    &__field {
      padding-left: calc(16px + (var(--padding-md) + var(--padding-xs)));
    }

    &__btn {
      background-color: transparent;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: var(--padding-md);
      z-index: 9;
      color: var(--color-midgray);
      fill: var(--color-midgray);
    }
}