.dataTable-wrapper.no-header .dataTable-container {
  border-top: 1px solid var(--border-color);
}

.dataTable-wrapper.no-footer .dataTable-container {
  
}

/*
.dataTable-top,
.dataTable-bottom {
  padding: 8px 10px;
}
*/
.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
  float: left;
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
  float: right;
}

.dataTable-selector {
  padding: 6px;
}

.dataTable-input {
  padding: 6px 12px;
}

.dataTable-info {
  margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
  margin: 0;
  padding-left: 0;
}

.dataTable-pagination li {
  list-style: none;
  float: left;
}

.dataTable-pagination a {
  border: 1px solid transparent;
  float: left;
  margin-left: 2px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  color: #333;
}

.dataTable-pagination a:hover {
  background-color: var(--border-color);
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
  background-color: var(--border-color);
  cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.dataTable-pagination .pager a {
  font-weight: bold;
}

/* TABLE */
.dataTable-table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}


.dataTable-table th.center,
.dataTable-table td.center, {
  text-align: center !important;

  .dataTable-sorter {
    width: auto !important;
    text-align: center;
    margin: 0 auto;
  }
}


.dataTable-table > thead th,
.dataTable > thead th {
  //vertical-align: bottom;
  text-align: left;
  border-bottom: 1px solid var(--border-color) !important;
}

.dataTable-table th a {
  text-decoration: none;
  color: inherit;
  //padding-left: 20px;
}

.dataTable-sorter {
  //display: inline-block;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.dataTable .sorting {
  cursor: pointer;
}

.dataTable .sorting:before,
.dataTable .sorting_asc:before,
.dataTable .sorting_desc:before,
.dataTable-sorter::before {
  content: "";
  display: inline-block;
  height: 11px;
  width: 8px;
  background: url($imgPath + 'icons/table-sorter.png') center center no-repeat;
  //position: absolute;
  //left: 4px;
  margin-right: 4px;
  align-self: center;
  vertical-align: middle;
  order: -2;
  //border-left: 4px solid transparent;
  //border-right: 4px solid transparent;
  //opacity: 0.2;
  
}




.asc .dataTable-sorter::before,
.desc .dataTable-sorter::before {
  background: url($imgPath + 'icons/table-sorter-asc.png') center center no-repeat;
}

.asc .dataTable-sorter::before {
  transform: rotate(180deg);
}

.dataTables-empty {
  text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
  clear: both;
  content: " ";
  display: table;
}