.tags {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  grid-gap: var(--padding-xxs);
  margin-bottom: var(--padding-md);
  
  &--left {
    justify-content: flex-start;
  }

  @include media-min("desktop-up") {
    grid-gap: var(--padding-xs);
    margin-bottom: var(--padding-lg);
  }
  
  &--hascross {
   .tags__el {
     &:after {
       display: inline-block;
       content: '';
       background-image: url("data:image/svg+xml,%3Csvg data-name='icon/navigation/close_24px' xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath fill='none' d='M0 0h18v18H0z'/%3E%3Cpath data-name='Tracé 10483' d='M15.304 14.304 4.697 3.697' fill='none' stroke='%238ca0b3' stroke-linecap='round'/%3E%3Cpath data-name='Ligne 37' fill='none' stroke='%238ca0b3' stroke-linecap='round' d='M4.696 14.304 15.303 3.697'/%3E%3C/svg%3E");
       background-size: cover;
       width: 16px;
       height: 16px;
       margin-left: var(--padding-xxs);
       transition: transform linear .1s;
     }

     &:hover,
     &:active,
     &:focus {
       &:after {
         transform: scale(1.4);
       }
     }


     &--pinky,
     &--darkblue {
       &:after {
         background-image: url("data:image/svg+xml,%3Csvg data-name='icon/navigation/close_24px' xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cpath fill='none' d='M0 0h18v18H0z'/%3E%3Cpath data-name='Tracé 10483' d='M15.304 14.304 4.697 3.697' fill='none' stroke='%23FFFFFF' stroke-linecap='round'/%3E%3Cpath data-name='Ligne 37' fill='none' stroke='%23FFFFFF' stroke-linecap='round' d='M4.696 14.304 15.303 3.697'/%3E%3C/svg%3E");
       }
     }
   } 
  }
  
  &__el {
    display: flex;
    align-items: center;
    align-content: center;
    padding: var(--padding-xxs) var(--padding-xs) var(--padding-xxs) var(--padding-sm);
    font-size: var(--font-size-xs);
    background: var(--color-lightgray);
    border-radius: 100px;
    color: var(--color-midgray);
    border: 1px solid transparent;
    transition: linear all .1s;
    

    &:hover,
    &:active,
    &:focus {
      transform: scale(1.1);
      color: var(--color-midgray) !important;
    }
    
    &--pinky,
    &--darkblue {
      
      &:hover,
      &:active,
      &:focus {
        color: #Fff !important;
      }
    }
    
    &--darkblue {
      background: var(--color-midgray);
      color: #fff;
    }
    
    &--pinky {
      background: var(--color-pinky);
      color: #fff;
    }
    
    
    [class^="ico-"] {
      vertical-align: middle;
      margin-right: var(--padding-xxs);
      margin-top: -2px;
    }
  }
}
