.footer {
  &__wrapper {
    border-top: 2px solid var(--border-color);
    padding: var(--padding-xl) 0;
  }
  
  &__title {
    font-family: var(--font-family-header);
    margin-bottom: var(--padding-xs);
    font-size: var(--font-size-h3-sm);

    @include media-min("tablet-up") {
      font-size: var(--font-size-h3);
    }
  }
  
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--padding-lg);
    
    @include media-min("tablet-up") {
      grid-template-columns: 2fr 1fr 1fr;
    }
  }
  
  &__bloc {
    &:not(:first-of-type) {
      margin-top: var(--padding-sm);
      
      @include media-min("tablet-up") {
        margin-top: 0;
      }
    }
    
    &:first-of-type p {
      @include media-max("tablet-up") {
       font-size: var(--font-size-sm); 
      }
    }
  }
  
  .companyDesc {
    font-size: var(--font-size-xs);
    
    @include media-min("tablet-up") {
      padding-right: var(--padding-lg);
    }
  }
  
  
  // newsletter
  .nl-form {
    .btn {
      margin-top: var(--padding-xs);
    }
  }
}