.container {
  max-width: var(--container-max-width);
  width: 100%;
  padding-right: var(--padding-container-sm);
  padding-left: var(--padding-container-sm);
  margin-right: auto;
  margin-left: auto;

  @include media-min("tablet-down") {
    padding-right: var(--padding-container);
    padding-left: var(--padding-container);
  }
}

.container-fluid {
  padding-right: var(--padding-container-sm);
  padding-left: var(--padding-container-sm);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: calc(var(--gutter-width-sm) * -1);
  margin-right: calc(var(--gutter-width-lg)/ -2);
  margin-left: calc(var(--gutter-width-lg)/ -2);
  
  @include media-min("tablet-down") {
    flex-direction: row;
    margin-top: calc(var(--gutter-width-lg) * -1);
  }
  
  > * {
    max-width: 100%;
    margin-top: var(--gutter-width-sm);
    padding-right: calc(var(--gutter-width-lg) / 2);
    padding-left: calc(var(--gutter-width-lg) / 2);
    flex-shrink: 0;
    
    @include media-min("tablet-down") {
      margin-top: var(--gutter-width-lg);
    }
  }

  .col {
    flex: 1 0 0%;
  }

  .col-auto {
    width: auto;
  }
  
  .align-end {
    align-self: flex-end;
  }
  
  .align-center {
    align-self: center;
  }
}

.hidden-xs {
  @include media-min("tablet-down") {
    display: none;
  }
}

.visible-xs {
  display: none;
  
  @include media-min("tablet-down") {
    display: block;
  }
}


// Grid modules

// container grid
.ctg {
  display: grid;
  grid-gap: var(--gutter-width-sm);
  grid-template-columns: 100%;

  &--1_3 {
    @include media-min("tablet-down") {
      grid-template-columns: 1fr 3fr;
    }
  }

  &--3_1 {
    @include media-min("tablet-down") {
      grid-template-columns: 3fr 1fr;
    }
  }
  
  &--1_2_1 {
    grid-template-columns: 1fr 2fr 1fr;

    @include media-max("phone-down") {
      grid-template-columns: 1fr;
    }
  }
  
  &--3_3 {
    grid-template-columns: 1fr 1fr 1fr;

    @include media-max("phone-down") {
      grid-template-columns: 1fr;
    }
  }
  
  &--2_2 {
    @include media-min("tablet-down") {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  &.align-center {
    align-items: center;
  }
  
  &--fullheight {
    height: 100%;
  }
}

/** 
  Grid for filters 
**/
.formgrid {
  &:not(.formgrid--secteurs),
  &--secteurs .formgrid__secteurs {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-row-gap: var(--padding-md);
    grid-column-gap: var(--padding-lg);
  }
  
  .formgrid__secteurs:not(:last-of-type) {
    margin-bottom: var(--padding-md);
  }

  &--3col {
    @include media-min("desktop-up") {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }

  &--4col {
    @include media-min("desktop-up") {
      grid-template-columns: 1fr 1fr 1fr auto !important;
    }
  }

  &--2col {
    @include media-min("desktop-up") {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}