// Header

:root {
  --icon-height: 41px;
  --icon-width: 41px;
}


// Sur les pages internes, le header conserve un fond blanc.
body.page .header__wrapper {
  background: #fff !important;
}

.header {
  height: var(--header-height-mobile);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-header);
  display: block;
  opacity: 1;
  position: absolute;
  background: var(--body-bgcolor);
  
  &.isSearch {
    .searchbar {
      @include media-max("desktop-up") {
        position: absolute;
        top: var(--header-height-mobile);
        display: block;
        background: #fff;
        width: 100%;
        min-width: 100%;
        padding: var(--padding-sm);
        margin: 0;
        left: 0;
        right: 0;
        border-top: 1px solid var(--border-color);
        box-shadow: 0px 1px 3px rgba(0,0,0,.07);

        .searchbar__btn {
          left: var(--padding-lg);
        }
      }
    }
  }
  
  
  @include media-min("tablet-up") {
    height: var(--header-height-desktop);
  }
  
  @include transition(linear opacity 0.15s);

  &.switching {
    opacity: 0 !important;
    @include transition(linear opacity 0.15s);
  }

  &.pinned {
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,.07);
    position: fixed;
    display: block;
    opacity: 1;
    @include transition(linear opacity 0.15s);
  }
  
  
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--padding-sm) var(--padding-container-sm);
    position: relative;
    
    @include media-min("tablet-up") {
      padding: var(--padding-md) var(--padding-container);
    }
  }
  
  
  // 1. logo
  .logo {
    text-align: center;
    margin: 0 auto;
    flex: 1;
    margin-right: var(--padding-md);

    img {
      width: 160px;
      min-width: 160px;
      vertical-align: bottom;
    }
    
    @include media-min("desktop-up") {
      flex: unset;
      text-align: unset;
      margin: 0;
    }
  }
  
  
  // Search field
  .searchbar {
    display: none;
    
    @include media-min("desktop-up") {
      display: block;
    }
  }
  
  // Nav links
  .headernav {
    margin-left: auto;
    display: none;
    font-weight: 600;
    
    @include media-min("desktop-up") {
      display: block;
    }
    
    ul {
      display: inline-block;
      
      li {
        display: inline-block;
        margin-left: var(--padding-md);
        padding: var(--padding-xxs) 0;
        font-size: var(--font-size-md);
      }
    }
    
    &__btn {
      li:not(:first-of-type) {
        margin-left: var(--padding-xs) !important;
      }
    }
    
    // Lien "Plus"
    &__links {
      &__more {
        .caret-d:after {
          margin-left: 3px;
        }
        
        a {
          color: var(--color-midgray);
          
          &:hover {
            color: var(--color-darkgray);
          }
        }
        
        .dropdown {
          width: max-content;
          min-width: max-content;
          
          &__content {
            padding: 0 !important;

            ul li {
              margin-bottom: 0;
              padding: 0;
              
              a {
                padding: var(--padding-xs) var(--padding-md);
              }
              
              &:not(:first-of-type) a {
                border-top: 1px solid var(--border-color);
              }
            }
          }
        }
      }
    }
  }
  
  // Bell icon
  .notifications {
    margin-left: var(--padding-xs);

    @include media-min("tablet-up") {
      margin-left: var(--padding-md);
    }
    
    background: var(--color-lightgray);
    display: flex;
    align-self: center;
    width: var(--icon-width);
    height: var(--icon-height);
    justify-content: center;
    border-radius: 100%;
    position: relative;
    transition: all linear .2s;
    cursor: pointer;
    
    #notifications-dd {
      
      .dropdown__content {
        padding: 0;
      }
      
      .notifications__row {
        padding: var(--padding-xs) var(--padding-md);
        
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--border-color);
          margin-bottom: var(--padding-xxs);
        }
      }
      
      .notifications__row__action {
        text-align: center;
        margin-top: var(--padding-xxs);
        
        a {
          margin: 0 var(--padding-xxs);
        }
      }
    }
    
    &:hover {
        background: var(--color-midgray);
      
      svg {
        fill: #fff;
      }
    }
    
    svg {
      transform: scale(.45);
      fill: var(--color-midgray);
      transition: all linear .2s;
      -webkit-transition: all linear .2s;
      width: 100%;
    }
    
    &__nb {
      background: var(--color-bg-bellnotification);
      color: #fff;
      font-size: var(--font-size-xxs);
      width: 18px;
      height: 18px;
      line-height: 140%;
      border: 1px solid var(--color-lightgray);
      text-align: center;
      font-family: var(--font-family-header);
      overflow: hidden;
      border-radius: 100%;
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }
  
  // User
  .user {
    display: none;

    @include media-min("tablet-up") {
      display: flex;
    }
    
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    padding-left: var(--padding-md);
    font-size: var(--font-size-base);
    
    &__infos {
      text-align: right;
      padding-right: var(--padding-xs);
      line-height: 110%;
    }
    
    &__avatar {
      width: var(--icon-width);
      height: var(--icon-height);
      background: var(--color-lightgray);
      border-radius: 100%;
      display: flex;
      align-self: center;
      transition: linear background .2s;
      -webkit-transition: linear background .2s;

      svg {
        fill: var(--color-midgray);
        transform: scale(.7);
        transition: linear fill .2s;
        -webkit-transition: linear fill .2s;
      }
      
    }
    
    &__name {
      font-family: var(--font-family-header);
    }
    
    &__subscription {
      font-size: var(--font-size-xxs);
      font-family: var(--font-family-header);
      color: var(--color-midgray);
    }

    &:hover {
      .user__avatar {
        background: var(--color-midgray);
  
        svg {
          fill: #fff;
        }
      }
    }
    
    #userinfos-dd {
      a {
        color: var(--color-midgray);
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/**
  Burger icon to show mobile menu
*/
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--icon-md-width);
  min-width:  var(--icon-md-width);
  cursor: pointer;
  margin-right: var(--padding-md);

  span {
    background: var(--color-burgerline);
    border-radius: 15px;
    height: 3px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -webkit-transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    width: 100%;
  }

  &.opened span:nth-of-type(1){
    transform-origin:bottom;
    transform: rotatez(45deg) translate(7px,7px);
  }

  &.opened span:nth-of-type(2){
    transform-origin: top;
    transform: translate(0px,0px) rotatez(-45deg);
  }

  &.opened span:nth-of-type(3){
    transform-origin:bottom;
    width: 50%;
    transform: translate(16px,-7px) rotatez(45deg);
    opacity: 0;
  }
}


/** 
  Searchbar icon 
**/
.searchbarIcon,
.loginIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28px;
  min-width: 28px;
  cursor: pointer;

  svg {
    width: 28px;
    min-width: 28px;
    fill: var(--color-burgerline);
  }
  
  @include media-min("desktop-up") {
    display: none;
  }
}

.loginIcon {
  margin-left: var(--padding-md);
}