* {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:before,
*:after {
  @include box-sizing(border-box);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-base);
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--text-color);
  background: var(--body-bgcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @include media-min("tablet-up") {
    line-height: var(--font-line-height-lg);
  }
  
  &:before {
    content: '';
  }
  
  &.has-door {
    overflow: hidden;
  }
  
  &.has-door:before {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    transition: .3s;
    -webkit-transition: .3s;
    z-index: var(--z-index-layer);
    overflow: hidden;
    max-height: 100vh;
    visibility: visible;
    opacity: .6;
  }
}

/* Page Content & wrapper*/

.page-wrapper {
  padding-top: var(--header-height-desktop);
}


.page-content {
  padding: var(--padding-sm) 0;

  @include media-min("tablet-up") {
    padding: var(--padding-xl) 0;
  }
}
