body.has-mainmenu {
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
  
  @include media-min("tablet-up") {
    max-height: inherit;
  }

  .mainmenu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  
  // Layer opacity
  &:before {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0;
    transition: .3s;
    -webkit-transition: .3s;
    z-index: var(--z-index-layer-mainmenu);
    visibility: hidden;
    
    @include media-min("phone-down") {
      visibility: visible;
      opacity: .6;
    }
  }
}

.mainmenu {
  position: fixed;
  background: #fff;
  bottom: 0;
  //padding-bottom: var(--header-height-desktop);
  left: 0;
  overflow: auto;
  z-index: var(--z-index-mainmenu);
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  max-width: 400px;
  @include transition(transform ease-in-out .2s);


  top: var(--header-height-mobile);
  
  @include media-min("tablet-up") {
    top: var(--header-height-desktop);
  }
  
  &__wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid var(--border-color);
    box-shadow: var(--box-shadow-lg);
    border-right: 1px solid var(--border-color);

  }

  ul {
    li {
      span,
      a {
        padding: var(--padding-sm) var(--padding-md);
        cursor: pointer;
        display: block;
        color: var(--color-midgray);
        border-bottom: 1px solid var(--border-color);
        transition: all linear .2s;
        -webkit-transition: all linear .2s;
        
        @include media-min("tablet-up") {
          font-family: var(--font-family-header);
        }
        
        .caret-r {
          float: right;
          opacity: 0.15;
        }
        
        &:hover,
        &.active {
          color: var(--color-pinky) !important;
          background: var(--color-lightgray);
        }
      }
    }
  }

    
  .previous-shutter {
    padding: var(--padding-xs) var(--padding-md);
    font-family: var(--font-family-header);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    background: var(--color-creamy);
    
    .title {
      color: var(--text-color);
    }
    
    .back {
      font-size: var(--font-size-sm);
      margin-left: auto;
    }
  }
  
  
  // Volet univers avec sous-catégories
  &__shutter {
    transition: none;
    -webkit-transition: none;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    
    overflow: auto;
    left: 0;
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
  
    &:not(.main) {
      transition: transform ease-in-out .2s;
      -webkit-transition: transform ease-in-out .2s;
      
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
  }
}
