.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: var(--border-radius-lg);
  transition: background linear 0.1s, color linear 0.1s, border linear 0.1s;
  font-family: var(--font-family-base);
  position: relative;
  @include button-size(var(--padding-v-button), var(--padding-h-button), var(--font-size-sm), var(--font-line-height-base));
  @include user-select(none);


  svg {
    width: 15px;
    height: 15px;
    position: relative;
  }

  &,
  &:active,
  &:focus {
    @include tab-focus;
  }

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:active {
    outline: 0;
    background-image: none;
  }

  &:disabled {
    cursor: wait;
    background: var(--color-lightgray) !important;
    color: #fff !important;
    border-color: var(--border-color) !important;
  }
}

.btn-sm {
  @include button-size(var(--padding-v-button-sm), var(--padding-h-button-sm), var(--font-size-xs), var(--font-line-height-base));
}

.btn-block{
  width: 100%;
}

.btn-primary {
  @include button-variant(
                  #fff,
                  #fff,
                  var(--color-primary),
                  var(--color-primary-darker)
  );
}

.btn-success {
  @include button-variant(
                  #fff,
                  #fff,
                  var(--color-success),
                  var(--color-success-darker)
  );
}


.btn-pinky {
  @include button-variant(
                  #fff,
                  #fff,
                  var(--color-pinky),
                  var(--color-pinky-darker)
  );
}


.btn-bordered {
  @include button-variant(
    var(--color-midgray),
    var(--color-darkgray),
    transparent,
    var(--color-darkgray),
    var(--color-midgray)
  );
  
  
  &:hover,
  &:focus,
  &:active {
    background: var(--color-creamy-darker);
  }
}


/** Customs btns **/
/** Homepage **/

.btn-suitcase,
.btn-pin,
.btn-rising,
.btn-reset,
.btn-filter,
.btn-bookmark,
.btn-alarm {
  &:before {
    content: '';
    display: inline-block;
    margin-right: var(--padding-xxs);
    fill: #fff;
    position: relative;
  }
}

.btn-suitcase {
  &:before {
    width: 14px;
    height: 12px;
    background: url($imgPath + 'icons/suitcase.svg') center center no-repeat;
    top: 1px;
  }
}

.btn-pin {
  &:before {
    width: 11px;
    height: 16px;
    background: url($imgPath + 'icons/pin.svg') center center no-repeat;
    top: 2px;
  }
}

.btn-rising {
  &:before {
    width: 17px;
    height: 17px;
    background: url($imgPath + 'icons/rising.svg') center center no-repeat;
    top: 3px;
  }
}

.btn-bookmark {
  &:before {
    width: 14px;
    height: 14px;
    background: url($imgPath + 'icons/bookmark.svg') center center no-repeat;
    top: 3px;
  }
}

.btn-alarm {
  &:before {
    width: 14px;
    height: 14px;
    background: url($imgPath + 'icons/alarm.svg') center center no-repeat;
    top: 3px;
  }
}

.btn-reset {
  &:before {
    width: 14px;
    height: 14px;
    background: url($imgPath + 'icons/reset.svg') center center no-repeat;
    top: 3px;
  }
}

.btn-filter {
  border-color: var(--color-primary);
  color: var(--color-primary);
  
  &:hover,
  &:active,
  &:focus {
    color: var(--color-primary);
  }
  
  &:before {
    width: 14px;
    height: 14px;
    background: url($imgPath + 'icons/filtres.svg') center center no-repeat;
    top: 3px;
  }
}

.btn-caret-right {
  &:after {
    content: '';
    display: inline-block;
    margin-left: var(--padding-xxs);
    fill: #fff;
    position: relative;
    width: 14px;
    height: 13px;
    background: url($imgPath + 'icons/caretRight.svg') center center no-repeat;
    top: 3px;
  }
}