// Form groups
.form-group {
  margin-bottom: var(--padding-md);
  
  &--half {
    @include media-min("desktop-up") {
      grid-template-columns: 48%;
      display: grid;
    }
  }
  
  &__title {
    font-family: var(--font-family-header);
    display: inline-block;
    margin-bottom: var(--padding-xxs);
    font-weight: 800;
  }
  
  label {
    font-family: var(--font-family-base);
    display: inline-block;
    margin-bottom: var(--padding-xxs);
    color: var(--color-midgray);
    
    &.cbx {
      margin-bottom: 0;
    } 
  }
  
  &:last-of-type {
    margin-bottom :0;
  }

  &.has-error {
    input {
      border: 2px solid var(--color-error-border) !important;
    }
  }
  
  &--btn {
    text-align: center;
  }
  
  
  &--cdc a {
    font-family: var(--font-family-header);
    font-weight: 600;
  }
}

// Group input + btn
.form-group-btn {
  display: flex;
  
  .btn {
    margin-left: var(--padding-xs);
  }
}

.form-control {
  display: block;
  width: 100%;
  font-family: var(--font-family-base);
  padding: 8px 12px;
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-base);
  color: var(--text-color);
  background: var(--color-inputbg);
  border-radius: var(--border-radius-sm);
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  outline: none;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  
  &:focus {
    outline: none;
  }

  &--sm {
    padding: 4px 8px;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
  }
  

  // Placeholder
  @include placeholder(var(--color-midgray));
}


// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}

// Custom select form
.custom-select {
  position: relative;
  
  &:after {
    position: absolute;
    content: "\25b6";
    top: 50%;
    right: 16px;
    transform: translate(50%,-50%) rotate(90deg);
    color: var(--color-midgray);
  }
  
  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

// Custom radio
.custom-radio {
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0 !important;
  
  &:not(:last-of-type) {
    margin-right: var(--padding-sm);
  }
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid var(--border-color);
    border-radius: 100px;
    
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: var(--color-lightgray);
  }

  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: var(--color-primary);
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }
}

