// The first folder, 1-settings, is for all general project settings, 
// so for the most basic high-level configuration. 
// This might be a collection of global variables – either as Sass variables or custom properties.

// Paths
//$imgPath                             : "http://local.myfrenchstartup.com/static/images/";
//$fontsPath                           : "http://local.myfrenchstartup.com/static/fonts/";


$imgPath                             : "https://www.myfrenchstartup.com/static/images/";
$fontsPath                           : "https://www.myfrenchstartup.com/static/fonts/";


// z-index
:root {
  --z-index-modal: 99;
  --z-index-modal-inner: 999;
  --z-index-modal-viewport: 98;
  --z-index-layer : 102;
  --z-index-layer-mainmenu : 90;
  --z-index-header: 97;
  --z-index-mainmenu: 101;
}


// Container
:root {
  --padding-container: 40px;
  --padding-container-sm: 20px;
  --container-max-width : 1270px;
}


// GUTTERS
:root {
  --gutter-width-sm : 20px;
  --gutter-width-lg : 36px;
  --gutter-width-xl : 50px;
}


// Border radius
:root {
  --border-radius-lg: 7px; 
  --border-radius-sm: 3px; 
}

// Small icons 
:root {
  --icon-sm-width: 26px;
  --icon-sm-height: 26px;

  --icon-md-width: 36px;
  --icon-md-height: 36px;
  
  --icon-lg-width: 50px;
  --icon-lg-height: 50px;
}


// Box shadow
:root {
  --box-shadow-xs: 0px 0px 5px rgba(0,0,0,0.07);
  --box-shadow-sm: 0px 0px 16px 5px rgb(0 0 0 / 9%);
  --box-shadow-lg: 2px 18px 40px 0 rgb(0 0 0 / 12%);
}

// Header
:root {
  --header-height-desktop: 84px;
  --header-height-mobile: 77px;
}

/**
  Cards for sliders
*/
:root {
  --height-sm-card: 140px;
  --padding-sm-card: 15px;
  
  --height-md-card: 350px;
  --padding-md-card: 30px;
}