// The second folder is for all styles regarding the visual vocabulary of the site. 
// At this level, we are still not generating any CSS output. 
// It is where we define variables for the typography, colors, spacing, media-queries, 
// or any other attributes which you will use throughout the design. 
// For these visual design attributes, the term design tokens has taken hold. 
// Those design tokens could even be coming from your design system as a single source of truth.

:root {

  --body-bgcolor: hsl(210, 50%, 98%);
  
  --color-primary: hsl(192, 100%, 50%);
  --color-primary-darker : hsl(192, 98%, 43%);
  
  --color-blue: hsl(214,81.7%,50.6%);
  --color-success: hsl(149,100%,32.5%);
  --color-success-darker: hsl(149,100%,22%);

  --color-pinky: hsl(0, 100%, 74%);
  --color-pinky-darker: hsl(0, 80%, 68%);
  
  --border-color: hsl(211, 37%, 89%);
  --border-color-darker: hsl(0,0%,85%);
  --text-color: hsl(209, 23%, 23%);
  
  
  --color-mustard: hsl(49, 81%, 50%);
  --color-mustard-darker: hsl(49, 81%, 30%);
  
  
  // Bell notification
  --color-bg-bellnotification: 	hsl(0, 94%, 74%);
  
  // Burger icons
  --color-burgerline: hsl(209, 13%, 48%);
  
  
  // Grays
  --color-gray: hsl(209, 25%, 82%);
  --color-midgray: hsl(210, 14%, 54%);
  --color-lightgray: hsl(210, 31%, 95%);
  --color-darkgray: hsl(210, 21%, 33%);
  
  //hsl(209, 22%, 70%);
  
  
  
  // Alerts
  --color-success-bg : hsl(103, 44%, 89%);
  --color-success-text : hsl(121, 33%, 35%);
  --color-success-border : hsl(93, 44%, 85%);

  --color-infos-bg : hsl(180, 52%, 94%);
  --color-infos-text : hsl(184, 69%, 38%);
  --color-infos-border : hsl(182, 51%, 74%);

  --color-error-bg : hsl(355, 70%, 91%);
  --color-error-text : 	hsl(0, 100%, 74%);
  --color-error-border : 	hsl(354, 70%, 87%);

  
  // Links
  --color-link-active: hsl(195, 98%, 59%);
  --color-link-hover: hsl(195, 98%, 40%);
  --color-text-link-bg-hover: rgba(0,205,238,0.18);
  --color-text-link-bg: rgba(255,234,243,0);
  
  
  // Tables
  --color-bg-table-th-horizontal: var(--color-lightgray);
  --color-bg-table-th-vertical: hsl(35, 70%, 95%);
  --color-bg-table-th-vertical-odd: hsl(35, 30%, 92%);
  
  --color-text-table-th-vertical : hsl(30, 20%, 35%);

  --color-text-table-th: var(--color-midgray);
  --color-border-table: hsl(0,0%,90%);
  --color-border-control-table: hsl(0,0%,65%);
  
  
  // Forms
  --color-inputbg: hsl(210, 50%, 98%);
}
