@font-face {
  font-family: 'EuclidBold';
  font-display: swap;
  src: url($fontsPath + 'EuclidCircularB-Bold-WebS.ttf')  format('truetype');
}

@font-face {
  font-family: 'EuclidRegular';
  font-display: swap;
  src: url($fontsPath + 'EuclidCircularB-Regular-WebS.ttf')  format('truetype');
}

