:root {
  --padding-xxs: 5px;
  --padding-xs: 10px;
  --padding-sm: 15px;
  --padding-md: 20px;
  --padding-lg: 30px;
  --padding-xl: 40px;
  --padding-xxl: 60px;
  --padding-wide: 75px;

  --padding-v-button: 8px;
  --padding-h-button: 20px;

  --padding-v-button-sm: 5px;
  --padding-h-button-sm: 10px;

  --padding-icon-horizontal: 5px;
  
  --padding-inner-bloc: 30px;
  --padding-inner-bloc-xs: 15px;
  
  --padding-table-condensed: 8px;
}