:root {
  --font-size-base: 15px;
  --font-size-lg: 19px;
  --font-size-xxs: 11px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 15px;
  --font-size-xl: 21px;
  
  --font-size-h1: 2em;
  --font-size-h1-sm: 1.4em;

  --font-size-h2: 1.5em;
  --font-size-h2-sm: 1.25em;

  --font-size-h3: 1.2em;
  --font-size-h3-sm: 1.1em;

  --font-size-h4: 1.1em;
  --font-size-h4-sm: 1.1em;

  --font-line-height-sm: 1.4;
  --font-line-height-base: 1.6;
  --font-line-height-lg: var(--font-line-height-base);
}


// Datas
:root {
  --font-size-data-xs : var(--font-size-xs);
  --font-size-data-sm : var(--font-size-sm);
  --font-size-data-base : var(--font-size-base);
  --font-size-data-lg : var(--font-size-lg);
  --font-size-data-xl : var(--font-size-h2);
}

:root {
  --font-family-header    : "EuclidBold", default-fonts, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-family-base      : "EuclidRegular", default-fonts, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
