
/** 
  Modals
**/
#modal-searchfilters,
#modal-columns {
  font-size: var(--font-size-sm);
}


/**
  Wrapper content all filters
*/
.filters-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  @include media-min("desktop-up") {
    flex-direction: row;
  }
}


/**
  Sidebar with filters
*/
.filters-aside {
  background: var(--color-lightgray);

  @include media-min("desktop-up") {
    width: 360px;
  }
}

/*
  Inner filters
*/
.filters-right {
  position: relative;
  overflow: auto;
  padding: var(--padding-lg);
  width: 100%;
  
  .modal__closeBtn {
    margin-bottom: var(--padding-sm);
  }

  .searchbar {
    margin-left: 0;
  }
  
  &__tab {
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  &__tabcontent {
    position: relative;
  }
  
  &__actions {
    text-align: center;
    margin-top: var(--padding-xl);
  }
}

/* 
  Saved searches
*/
.savedsearches {
  &__item {
    display: flex;
    
    &:not(:last-of-type) {
      padding-bottom: var(--padding-xs);
      margin-bottom: var(--padding-xs);
      border-bottom: 1px solid var(--border-color);
    }
    
    &__name {
      color: var(--color-midgray);
      
      .name {
        font-family: var(--font-family-header);
      }
      
      .date {
        font-size: var(--font-size-xs);
      }
    } 
    
    &__actions {
      display: flex;
      margin-left: auto;
      align-items: center;
      
      a {
        display: block;
        padding: var(--padding-xs);
      }
    }
  }
}


/* 
  Modal with columns filters 
*/
.columnsFilter {

  @include media-min("desktop-up") {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: var(--padding-xxs) var(--padding-sm);
    border-radius: 100px;
    border: 1px solid var(--border-color);
    margin-bottom: var(--padding-xs);
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: var(--padding-xs);
    }

    // Si déjà visible
    &.toggle-selected {
      color: #fff;
      border-color: var(--color-primary); 
      background: var(--color-primary);
    }
  }
}