.account {
  display: flex;
  flex-direction: column;

  @include media-min("desktop-up") {
    flex-direction: row;
  }
  
  &__aside {
    background: var(--color-lightgray);

    @include media-min("desktop-up") {
      width: 360px;
    }
  }
  
  &__right {
    position: relative;
    overflow: auto;
    padding: var(--padding-lg);
    width: 100%;
    background: #fff;

    @include media-min("desktop-up") {
      padding: var(--padding-xl);
    }
  }
}


// Account invoices
.invoices {
  &__details {
    min-width: 400px;
  }
  
  &__date,
  &__amount {
    white-space: nowrap;
  }
}