.formules-intro {
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: var(--padding-xl);
  text-align: center;
}

.formules {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--padding-lg);

  @include media-min("tablet-up") {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background: #fff;
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &__title {
      font-size: var(--font-size-h1);
      color: var(--color-midgray);
    }
    
    &__pricing {
      font-size: 64px;
      font-family: var(--font-family-header);
      line-height: 100%;
      
      .curr {
        position: relative; top: -0.5em; 
        font-size: var(--font-size-lg);
        font-family: var(--font-family-base);
        vertical-align: super;
      }
    }
    
    &__pricingDetails {
      font-family: var(--font-family-header);
      font-size: var(--font-size-sm);
    }
    
    &__headline {
      font-size: var(--font-size-lg);
      padding: var(--padding-md) 0;
    }
    
    &__arg {
      text-align: left;
      margin: 0 auto;
      display: inline-block;
      padding: 0 0 var(--padding-md) 0;
      
      li {
        &:not(:last-of-type) {
          padding-bottom: var(--padding-xxs);
        }
      }
      
      li:before {
        display: inline-block;
        margin-right: var(--padding-xs);
        vertical-align: middle;
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9.318' viewBox='0 0 12 9.318'%3E%3Cpath id='Tracé_10709' data-name='Tracé 10709' d='M6.8,13.345a.612.612,0,0,1-.866,0L2.477,9.885a.919.919,0,0,1,0-1.3l.433-.433a.919.919,0,0,1,1.3,0l2.16,2.16,5.836-5.836a.919.919,0,0,1,1.3,0l.433.433a.919.919,0,0,1,0,1.3Z' transform='translate(-2.208 -4.207)' fill='%2344d7a8'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: 16px 16px;
        background-repeat: no-repeat;
      }
    }
    
    &__cta {
      display: flex;
      justify-content: center;
      margin-top: auto;
    }
  }
}



/*
  Page offre payante
*/

.offre-payante {
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: var(--padding-lg);

  @include media-min("tablet-up") {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .box {
    box-shadow: 0 0 4px rgba(0,0,0,0.07);
    background: #fff;
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
  }
  
  .formules {
    grid-template-columns: unset;
    display: unset;
    grid-gap: var(--padding-lg);

    &__item {
      height: unset;
    }
  }
}

.offre-copyrights {
  margin-top: var(--padding-xl);
  box-shadow: 0 0 4px rgba(0,0,0,0.07);
  background: #fff;
  border-radius: var(--border-radius-lg);
  padding: var(--padding-lg);
}

.offre-footer {
  display: grid;
  grid-gap: var(--padding-lg);
  margin-top: var(--padding-xl);
  text-align: center;
  grid-template-columns: 1fr;
  width: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,0.07);
  background: #fff;
  border-radius: var(--border-radius-lg);
  padding: var(--padding-lg);
  
  @include media-min("tablet-up") {
    grid-template-columns: 1fr 1fr 1fr;
  }
}