.formpage {
  max-width: 1000px;
  margin: 0 auto;
  
  &__title {
    font-size: var(--font-size-h4);
    font-family: var(--font-family-header);
    text-align: center;
    font-weight: 800;
  }
  
  .form-group__title {
    font-size: var(--font-size-lg);
    margin-top: var(--padding-xl);
    margin-bottom: var(--padding-sm);
  }
  
  &__content {
    background: #fff;
    padding: var(--padding-sm);

    @include media-min("desktop-up") {
      padding: var(--padding-xl);
    }
    
    h1 {
      margin-bottom: var(--padding-sm);
    }
    
    .signin__login,
    .signin__register {
      display: none;
    }
    
    .shown {
      display: block;
    }
    
    h1 {
      text-align: center;
    }
    
    .register-grid {
      width: 100%;
      
      @include media-min("desktop-up") {
        display: flex;
        grid-gap: var(--padding-lg);  
      }
      
      &__col {
        width: 100%;
      }
    }
  }
  
  &__actions {
    background: var(--color-lightgray);
    text-align: center;
    padding: var(--padding-sm) 0;
    border-top: 1px solid var(--border-color);
  }
}

