body.preload .hpSection .decor {
  opacity: 0;
  transform: translateY(20px);
}


.hpSection {
  position: relative;
  
  &:not(:last-of-type) {
    margin-bottom: var(--padding-xl);
    
    @include media-min("tablet-up") {
      margin-bottom: var(--padding-wide);
    }
  }
  
  h2,
  h1 {
    text-align: center;
  }

  &__cta {
    margin-top: var(--padding-sm);
    text-align: center;
    
    @include media-min("tablet-up") {
      margin-top: var(--padding-lg);
    }

    a {
      display: inline-block;
      margin: 0 var(--padding-xxs);
    }
  }
  
  &__subtitle {
    font-size: var(--font-size-lg);
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 1rem;
  }
  


    &--overview {
      
    /*
    .searchbarWrapper {
      margin-top: var(--padding-lg);
      position: relative;
    }
    
    .searchbar {
      position: relative;
      max-width: 600px;
      margin: 0 auto;
      
      &__field {
        border: 2px solid var(--border-color);
        background: #fff;
        padding-left: 12px;
        padding-right: calc(32px + (var(--padding-md) + var(--padding-xs)));
        z-index: 1;
      }
      
      .btn {
        fill: #fff;
        z-index: 2;
        position: absolute;
        right: -3px;
        top: 0;
        bottom: 0;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: var(--padding-xs) var(--padding-sm);
        
        svg {
          transform: scale(1.3);
        }
      }  
    }
    */    
    
    
    .decor {
      margin-top: var(--padding-lg);
      background: url($imgPath + 'home/bubbles.svg') top left no-repeat;
      background-size: 65%;
      text-align: center;
      position: relative;
      opacity: 1;
      transform: translateY(0px);
      transition: .2s linear all .3s;
      -webkit-transition: .2s linear all .3s;
      
      
      @include media-min("tablet-up") {
        background-position: top center;
        background-size: unset;
      }

      &__laptop {
        z-index: 1;
        text-align: center;
        
        img {
          height: auto;
        }
      }
      
      &__people {
        position: absolute;
        z-index: 2;
        display: none;
        
        @include media-min("desktop-up") {
          display: block;
        }
        
        img {
          @include media-min("desktop-up") {
            width: 100px;
            height: 100px;
          }
        }
        
        // Male
        &--1 {
          @include media-min("desktop-up") {
            top: 40px;
            right: 165px;
          }
        }
        
        // Female
        &--2 {
          bottom: 20px;
          
          @include media-min("desktop-up") {
            bottom: 140px;
            left: 120px;
          }
        }
      }
    }
  }
}


/** 
  Diagonal decors + margin blocs 
*/

.decor-bgdiag {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url($imgPath + 'home/diagbg.svg') top center no-repeat;
  background-size: cover;
  z-index: -1;
}

.hpSection--fundraising,
.hpSection--lateststartups {
  margin-bottom: calc(var(--padding-xl) + 40px) !important; // Dots slider

  @include media-min("tablet-up") {
    margin-bottom: calc(var(--padding-wide) + 40px) !important; // Dots slider
  }
}



/**
  Levées de fonds
*/
.hpSection--fundraising {
  .container {
    background: url($imgPath + 'home/sectionBubbles.svg') top right no-repeat;
  }
}



/**
  - Dernières startups
  - Tendances fortes
*/
.hpSection--lateststartups,
.hpSection--trends {
  .carousel-cell {
    width: 80%;
    
    @include media-min("tablet-up") {
      width: 33.333333%;
    }
  }
}


/**
  Services
*/

.hpSection--services {
  .carousel {
    margin-top: var(--padding-lg);
    
    @include media-min("tablet-up") {
      margin-top: var(--padding-xxl);
    }
  }
  .carousel-cell {
    height: 250px;
  }
}

.services__col {
  text-align: center;
}

.services__icon {
    background: url($imgPath + 'home/bubbles.svg') center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      vertical-align: middle;
      width: 120px;
      max-height: 100px;
    }
  }

.services__title {
  font-size: var(--font-size-h3-sm);
  font-family: var(--font-family-header);
  margin-top: var(--padding-md);

  @include media-min("desktop-up") {
    font-size: var(--font-size-h3);
  }
}

.services__desc {
    color: var(--color-midgray);
  }

.services__cta {
    margin-top: var(--padding-md);
    text-align: center;
  }


/**
  Blocs de démos avec screens 
*/
.blocDemo {
  &--startupoftheweek {
    margin-top: var(--padding-lg);
  }
  
  &__title {
    font-family: var(--font-family-header);
    margin-bottom: var(--padding-md);
    
    &__1 {
      color: var(--color-primary);
      font-size: var(--font-size-lg);
    }
    
    &__2 {
      font-size: var(--font-size-h2-sm);
      font-family: var(--font-family-header);

      @include media-min("desktop-up") {
        font-size: var(--font-size-h2);
      }
    }
  }
  
  &__intro {
    margin-bottom: var(--padding-md);
  }
  
  // 2 COLS
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include media-min("tablet-up") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: var(--padding-lg);
      grid-column-gap: var(--padding-lg);
    }
  }

  
  &__list {
    margin: var(--padding-lg) 0;
    
    li {
      position: relative;
      margin-bottom: var(--padding-lg);
      padding-left: calc(15px + var(--padding-sm));
      
      @include media-min("tablet-up") {
        padding-left: 40px;
      }
      
      &:before {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        display: inline-block;
        background: url($imgPath + 'icons/check.svg') center center no-repeat;
        width: 15px;
        height: 12px;
      }
    }
  }
  
  &__screen {
    text-align: center;
    order: -1;
    background: url($imgPath + 'home/bubbles.svg') top center no-repeat;
    background-size: 80%;
    
    @include media-min("tablet-up") {
      background-position: top left;
      order: unset;
    }
  }
}


/* Etudes & Analyses */
.analyzeBloc-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--padding-lg);

  @include media-min("tablet-up") {
    margin-top: var(--padding-xxl);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--padding-sm);
  }
  
  .analyzeBloc {
    display: flex;
    align-items: center;
    
    @include media-min("tablet-up") {
      background: #fff;
      flex-direction: column;
      border-bottom-left-radius: var(--border-radius-lg);
      border-bottom-right-radius: var(--border-radius-lg);
      box-shadow: var(--box-shadow-xs);
    }

    &:not(:last-of-type) {
      margin-bottom: var(--padding-md);
      
      @include media-min("tablet-up") {
        margin: 0;
      }
    }
    
    &__thumb {
      background: var(--text-color);
      min-width: 100px;
      max-width: 100px;
      height: 70px;
      border-radius: var(--border-radius-sm);

      @include media-min("tablet-up") {
        min-width: 100%;
        max-width: 100%;
        height: 190px;
        border-radius: var(--border-radius-lg);
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
      
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-sm);
        
        @include media-min("tablet-up") {
          border-radius: var(--border-radius-lg);
          border-bottom-left-radius: unset;
          border-bottom-right-radius: unset;
        }
      }
    }
    
    &__label {
      font-size: var(--font-size-sm);
      
      @include media-min("tablet-up") {
        font-size: var(--font-size-base);
      }
    }
    
    &__title {
      font-family: var(--font-family-header);

      @include media-min("tablet-up") {
        font-size: var(--font-size-h3);
        font-family: var(--font-family-header);
      }
    }
    
    &__content {
      margin-left: var(--padding-sm);
      width: 100%;
      
      @include media-min("tablet-up") {
        margin: 0;
        background: #fff;
        padding: var(--padding-lg);
        border-bottom-left-radius: var(--border-radius-lg);
        border-bottom-right-radius: var(--border-radius-lg);
      }
    }
  }
}


/**
  Vous y êtes déjà
*/
.hpSection--peopleMap {
  background: url($imgPath + 'home/backgroundfooter.png') top center no-repeat;
  background-size: cover;
  
  .peopleMap {
    padding: var(--padding-xl) 0 0 0;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    
    @include media-min("desktop-up") {
      text-align: center;
      max-width: unset;
      padding: 120px 0 200px 0;
    }

    &__title {
      font-size: var(--font-size-h2-sm);
      font-family: var(--font-family-header);
      position: relative;
      text-align: center;

      @include media-min("desktop-up") {
        font-size: var(--font-size-h2);
      }
    }
    
    &__subtitle {
      z-index: 2;
      position: relative;
      display: inline-block;
      text-align: center;
      
      p {
        font-size: var(--font-size-large);
        display: inline-block;

        @include media-min("desktop-up") {
          font-size: var(--font-size-h3);
        }
      }
    }
    
    &__people {
      &:hover {
        .peopleMap__bubble {
          transform: translateY(-10px);
        }

        .peopleMap__avatar {
          transform: scale(1.1);
        }
      }
      
      @include media-min("desktop-up") {
        position: absolute;
      }
    }
    
    &__wrapper {
      position: relative;
      margin-bottom: var(--padding-md);
      
      @include media-min("desktop-up") {
        margin-bottom: 0;
      }
    }
    
    
    &__bubble {
      width: 200px;
      position: absolute;
      text-align: left;
      top: 0;
      font-size: var(--font-size-xs);
      color: var(--color-midgray);
      background: #fff;
      padding: var(--padding-sm);
      box-shadow: 0 0px 3px rgba(0,0,0,0.07);
      border-radius: var(--border-radius-sm);
      transition: all linear .2s;
      -webkit-transition: all linear .2s;
      
      @include media-min("desktop-up") {
        width: 240px;
      }
    }
    
    &__avatar {
      transition: all linear .2s;
      -webkit-transition: all linear .2s;

      img {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        
        @include media-min("desktop-up") {
          width: 120px;
          max-width: 120px;
          min-width: 120px;
        }
      }
    }

    &__people--1 {
      margin-top: 60px;
      
      @include media-min("desktop-up") {
        margin-top: unset;
        top: 140px;
        left: 0;
      }

      .peopleMap__bubble {
        left: 90px;
        top: -20px;
      }
    }

    &__people--2 {
      text-align: right;
      
      @include media-min("desktop-up") {
        text-align: unset;
        top: 80px;
        right: 60px;
      }

      .peopleMap__bubble {
        right: 90px;
        top: -20px;
      }
    }

    &__people--3 {
      bottom: 0px;
      left: 350px;
     
      .peopleMap__bubble {
        left: 70px;
        top: -20px;
        
        @include media-min("desktop-up") {
          right: 90px;
          left: unset;
        }
      }
    }

    &__people--4 {
      bottom: 5px;
      right: 320px;
      display: none;
      
      @include media-min("desktop-up") {
        display: block;
      }

      .peopleMap__bubble {
        width: 200px;
        right: 100px;
        top: -20px;
      }
    }

    &__people--5 {
      bottom: 65px;
      right: 0px;
      display: none;

      @include media-min("desktop-up") {
        display: block;
      }

      .peopleMap__bubble {
        width: 200px;
        right: 100px;
        top: -20px;
      }
    }
  }
}


/**
  Cards slider
  Uniquement pour la HP pour le moment. À décaler ailleurs si évolution
*/
.carousel {
  background: transparent;
}

.carousel-cell {
  width: 65%;
  height: var(--height-sm-card);
  padding: 0 var(--padding-xs);
  margin-bottom: 6px; // Shadow dropped

  @include media-min("tablet-up") {
    width: 33.333333%;
    padding: 0 var(--padding-sm);
  }
  
  &:last-of-type .carousel-cell__content {
    margin-right: 0 !important;
  }
}

.carousel-cell__content {
  background: #fff;
  box-shadow: 0px 2px 6px rgba(0,0,0,.12);
  border-radius: var(--border-radius-lg);
  padding: var(--padding-sm-card);
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  align-content: center;
  flex-direction: column;
}


.cards--md {
  height: var(--height-md-card);

  .carousel-cell {
    height: var(--height-md-card);
  }

  .carousel-cell__content {
    padding: var(--padding-md-card);
  }
}