.paiement-stripe {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--padding-lg);

  @include media-min("tablet-up") {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    box-shadow: var(--box-shadow-xs);
    background: #fff;
    border-radius: var(--border-radius-lg);
    padding: var(--padding-lg);
    height: 100%;
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 600;
      color: var(--color-darkgray);
      padding-bottom: var(--padding-sm);
    }

    &__pricing {
      font-size: 64px;
      font-family: var(--font-family-header);
      font-weight: 800;
      line-height: 100%;
      text-align: center;

      .curr {
        position: relative;
        top: -0.5em;
        font-size: var(--font-size-lg);
        font-family: var(--font-family-base);
        vertical-align: super;
      }
    }

    &__pricingDetails {
      font-family: var(--font-family-header);
      font-size: var(--font-size-sm);
      text-align: center;
    }

    &__headline {
      font-size: var(--font-size-lg);
      text-align: center;
      padding: var(--padding-md) 0;
    }

    &__arg {
      text-align: left;
      margin: 0 auto;
      display: inline-block;
      padding: 0 0 var(--padding-md) 0;

      li {
        &:not(:last-of-type) {
          padding-bottom: var(--padding-xxs);
        }
      }

      li:before {
        display: inline-block;
        margin-right: var(--padding-xs);
        vertical-align: middle;
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9.318' viewBox='0 0 12 9.318'%3E%3Cpath id='Tracé_10709' data-name='Tracé 10709' d='M6.8,13.345a.612.612,0,0,1-.866,0L2.477,9.885a.919.919,0,0,1,0-1.3l.433-.433a.919.919,0,0,1,1.3,0l2.16,2.16,5.836-5.836a.919.919,0,0,1,1.3,0l.433.433a.919.919,0,0,1,0,1.3Z' transform='translate(-2.208 -4.207)' fill='%2344d7a8'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-size: 16px 16px;
        background-repeat: no-repeat;
      }
    }

    &__cta {
      padding-top: var(--padding-lg);
      display: flex;
      justify-content: center;
      margin-top: auto;
    }

    &__secureImg {
      padding-top: var(--padding-lg);
      text-align: center;
      margin: 0 auto;
      
      img {
        margin: 0 auto;
      }
    }
  }
}


// Confirmation de commande
.paiement-stripe-confirm {
  h2 {
    padding-bottom: var(--padding-sm);
  }
  
  &__cta {
    padding-top: var(--padding-xl);
    text-align: center;
  }
}