@import "recherche/modals";

.table-search-wrapper {
  width: 100%;
  overflow-x: auto;
}

.searchHeader {
  display: flex;
  align-items: center;
  padding-bottom: var(--padding-sm);
  flex-direction: column;
  
  @include media-min("desktop-up") {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  &__title {
    font-family: var(--font-family-header);    
  }
  
  &__actions {
    align-self: center;
    margin-top: var(--padding-xs);
    
    @include media-min("desktop-up") {
      margin-top: 0;
      margin-left: auto;
    }
  }
}

.searchFilters {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--padding-sm);
   
   &__tags {
     flex-wrap: nowrap;
     overflow-x: auto;
     text-align: center;
     white-space: nowrap;
     width: 100%;
     margin-bottom: var(--padding-sm);

     @include media-min("desktop-up") {
       flex-wrap: wrap;
       overflow: unset;
       white-space: unset;
       width: unset;
     }

  }
  
  &__tableOpt {
    margin-left: auto;
    font-size: var(--font-size-xs);
    white-space: nowrap;
    
    ul {
      li {
        display: inline-block;
        vertical-align: middle;

        a {
          display: inline-block;
        }
        
        [class^="ico-"] {
          margin-right: var(--padding-xs);
          vertical-align: middle;
        }
      }
    }
  }
}


.table-search-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 7;
  overflow: auto;
}

.table-search {

  [class^="ico-"] {
    vertical-align: text-top;
    margin-right: var(--padding-xxs);
  }

  [data-columnHide="true"] {
    display: none;
  }
  
  .shown {
    display: table-cell;
  }
  
  tbody tr {
    min-height: 81px;
    height: 81px;
  }
  
  th {
    //white-space: nowrap;
    //overflow: hidden;
    vertical-align: middle;
    line-height: 110%;
    font-family: var(--font-family-base);
    
    &.center {
      justify-content: center;
      align-items:  center;
      
      a {
        justify-content: center;
      }
    }
  }
  
  th.center,
  td.center {
    text-align: center;
  }
  
  tr {
    vertical-align: middle;
    background: #fff;
    
    td {
      border-bottom: 1px solid var(--border-color) !important;
    }
  }
  
  // STicky left col
  th.table-search__startup {
    position: sticky;
    left: 0;
    vertical-align: middle;
    border-bottom: 1px solid var(--border-color) !important;
    z-index: 1;
  }
  
  tbody th.table-search__startup {
    background: #fff;
  }


  // General link cells
  &__link {
    text-transform: capitalize;
    display: inline-block;
    
    
    a {
      color: var(--color-midgray);

      &:hover {
        text-decoration: underline;
      }
    }

    &.small {
      font-size: var(--font-size-xxs);
    }
  }
  
  
  // No min width
  &__startup {
    overflow: hidden;
    width: 100px !important;
    max-width: 100px !important;
    
    @include media-min("desktop-up") {
      width: 320px !important;
      max-width: 320px !important;
    }
    
    .startupInfos {
      display: flex;
      align-items: center;
  
      > .startupInfos__desc {
        margin-left: 0 !important;
      }
      
      &__image {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
        overflow: hidden;
        text-align: center;

        @include media-max("phone-down") {
          display: none;
        }
        
        img {
          max-width: 70px;
          max-height: 60px;
        }
      }
      
      &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        @include media-min("desktop-up") {
          margin-left: var(--padding-sm);
        }

        .companyName {
          margin-bottom: var(--padding-xxs);
          color: var(--color-darkgray);
          text-transform: uppercase;
          font-family: var(--font-family-header);
          
          a {
            color: var(--color-darkgray) !important;
          }
        }
        
        .companyLabel {
          font-family: var(--font-family-base);
          
          @include media-max("phone-down") {
            display: none;
          }
        }
        
        .companyLabel,
        .companyName {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  
  &__marche {
    text-transform: capitalize;
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    
    .table-search__link {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__ville {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }
  
  &__siege {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }

  &__maturite {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }
  
  &__ranking {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }

  &__totalfondsleves {
    width: 105px;
    max-width: 105px;
    min-width: 105px;
  }
  
  &__participations {
    width: 115px;
    max-width: 115px;
    min-width: 115px;
  }
  
  &__secteursInvests {
    width: 115px;
    max-width: 115px;
    min-width: 115px;  
  }

  &__ticketmoy {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }

  &__creation {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }

  &__yearInvests {
    width: 115px;
    max-width: 115px;
    min-width: 115px;
  }
  
  &__totaldernierelevee {
    width: 115px;
    max-width: 115px;
    min-width: 115px;
  }
  
  &__region {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  
  &__datedernierelevee {
    width: 115px;
    max-width: 115px;
    min-width: 115px;
  }
  
  &__datedernieremodificationcapital {
    width: 115px;
    max-width: 115px;
    min-width: 115px;
  }
  
  &__effectif {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
  }
  
  &__nblevees {
    width: 110px;
    max-width: 110px;
    min-width: 110px;
  }
  
  &__position {
    width: 95px;
    max-width: 95px;
    min-width: 95px;
  }
  
  &__tags {
    text-transform: capitalize;
    width: 260px;
    max-width: 260px;
    min-width: 260px;
  }
  
  &__date {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  
  &__traction {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
  }
  
  &__capaciteadelivrer {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  
  &__derniereactualite {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
  }
  
  &__modeleeconomique {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
  
  &__competitionsecteur {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
  }
}


.search-actions {
  margin-top: var(--padding-sm);
  display: flex;
  flex-direction: column;
  grid-gap: var(--padding-xs);
  justify-content: center;

  @include media-min("tablet-up") {
    flex-direction: row;
    grid-gap: var(--padding-sm);
  }
}