.signin {
  max-width: 700px;
  margin: 0 auto;
  
  &__tabs {
    display: flex;
    background: var(--color-lightgray);
    
    li {
      width: 50%;
      padding: var(--padding-sm);
      text-align: center;
      cursor: pointer;
      color: var(--color-midgray);
      
      &.active {
        font-weight: 800;
        background: #fff;
        color: var(--color-primary);
      } 
    }
  }
  
  &__content {
    background: #fff;
    padding: var(--padding-sm);

    @include media-min("desktop-up") {
      padding: var(--padding-xl);
    }
    
    h1 {
      margin-bottom: var(--padding-sm);
    }
    
    .signin__login,
    .signin__register {
      display: none;
    }
    
    .shown {
      display: block;
    }
    
    h1 {
      text-align: center;
    }
    
    .register-grid {
      width: 100%;
      
      @include media-min("desktop-up") {
        display: flex;
        grid-gap: var(--padding-lg);  
      }
      
      &__col {
        width: 100%;
      }
    }
  }
  .register-mentions {
    font-size: var(--font-size-xs);
    padding: var(--padding-sm) 0;
    color: var(--color-midgray);
    
    .btn-seemoreRegister {
      color: var(--color-pinky);
      cursor: pointer;
    }
  }
}
