/** Specifiques page startup **/
.bloc .companyLogo {
  padding: 0 0 var(--padding-lg) 0; 
  
  img {
    max-width: 100px;
  }
}

.bloc .companyInfos {
  @include formatDatas(var(--color-midgray),var(--font-family-base),var(--font-size-data-xs));
  
  li:not(:last-of-type) {
    padding-bottom: var(--padding-sm);
  }
}

.startupIntro {
  font-size: var(--font-size-xs);
  color: var(--color-midgray);
  
  p {
    margin: 0;
  }

  @include media-min("desktop-up") {
    grid-column: 1/3;
  }
  
  h2 {
    padding-top: 0;
    color: var(--color-darkgray);
    margin-top: 0;
    font-size: var(--font-size-sm);
    padding-bottom: var(--padding-xxs);
    font-weight: var(--font-family-header);
  }
  
  .intro-long {
    display: none;
  }
  
  [class^="intro-see"] {
    color: var(--color-link-active);
    cursor: pointer;
  }
}


.avatar {
  background: var(--color-lightgray);
  border-radius: 100px;
  height: var(--icon-lg-height);
  width: var(--icon-lg-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: var(--padding-xs);
  
  .ico-avatar {
    width: 25px;
    height: 27px;
  }
}